[Unit]
Description=SaniTrend Cloud Lite
After=network.target

[Service]
ExecStart=/home/sanimatic/STC_Lite/stc/bin/python3 /home/sanimatic/STC_Lite/stc/stc.py
WorkingDirectory=/home/sanimatic/STC_Lite/stc
StandardOutput=inherit
StandardError=inherit
Restart=always
User=sanimatic
RestartSec=5

[Install]
WantedBy=multi-user.target